
 .row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
.remove-events{
  pointer-events: auto !important;
}
.white-bg-in{
    background: white;
    border: 1px solid #ededed;
    width: 338px;
    height: 34px;
    display: inline-block;
}
